.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ff6060;
}
 .size-big{
    font-size: 100px;
}
.size-medium {
    font-size: 35px;
}
.error-margin {
    color: #ff6060;
    border-bottom: 1px solid;
    margin: 150px;
}