.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  border-radius: 20px;
}
.flex-centre {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}
.img {
  margin-top: 40px;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}
.card {
  width: 460px;
  
}

p {
  font-size: 12px;
}
