.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aliceblue;
}
.flex-centre {
    display: flex;
    justify-content: center;
}
.img {
    width: 350px;
    height: 350px;
}
.card {
    width: 475px;
}

p {
    font-size: 12px;
}
